# ################################################################################
# for-development-only
# 
# pip-review
# pyinstaller
# pytest
# pytest-cov
# ruff


# ################################################################################
# prerequisite, required-to-work.

aiohttp[speedups]
aiohttp-jinja2
jinja2
uvloop

dnspython
aioquic
cryptography
httpx
idna

cachetools
psutil
pyyaml
sqlalchemy[asyncio]
