# ################################################################################
# for-development-only
# 
# wheel
# pip-review
# pyinstaller
# ruff


# ################################################################################
# prerequisite, required-to-work.

aioquic
cachetools
cryptography
dnspython
flask
httpx
idna
psutil
pyyaml
sqlalchemy
