# ################################################################################
# for-development-only
#
# coverage
# pip-review
# pyinstaller
# pytest
# pytest-asyncio
# pytest-benchmark
# pytest-cov
# ruff


# ################################################################################
# prerequisite, required-to-work.

aiohttp[speedups]
aiohttp-jinja2
jinja2
# uvloop

dnspython
aioquic
cryptography
httpx
idna

cachetools
click
psutil
pyyaml
sqlalchemy[asyncio]
