{% extends 'base.html' %}

{% block title %}home{% endblock %}

{% block content %}

<style>
    pre {
        height: 500px;
    }

    table {
        font-size: 0.9em;
    }
</style>

<p class="fs-4">home</p>
<hr />
<p>services:</p>

<div class="border px-2">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">service name</th>
                <th scope="col">started on</th>
                <th scope="col">listening on / status</th>
                <th scope="col">is enable?</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for key, value in services.items() %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ key }} {{n}}</td>
                <td>{{ value.started_on }}</td>
                <td>{{ value.listening_on }}</td>
                <td>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="switch_{{ key }}" checked
                            disabled>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<p class="mt-3">logs:</p>
<pre class="border font-monospace px-3 pb-3"><code>
{{ logs }}
</code></pre>

{% endblock %}