{% extends 'base.html' %}

{% block title %}stats{% endblock %}

{% block content %}
<style>
   .card {
      float: left;
      min-height: 200px;
      margin: 9px;
      max-width: 44em;
   }

   .card:first-child {
      max-width: 26em;
   }

   table td {
      padding: 1px 5px 1px 5px;
      font-size: 0.9em;
   }
</style>

<p class="fs-4">stats</p>
<hr />
<p>&nbsp;</p>

<div class="row" style="display: flow;">
   {% for key, value in buffers.items() %}
   <div class="card border-dark mb-3">
      <div class="card-header">{{ key }}</div>
      <div class="card-body">
         <p class="card-text">
         <table>
            {%if value %}
            {% for v in value %}
            <tr>
               <td><i class="bi bi-dot"></i> {{ v.count }}</td>
               <td class="text-nowrap">{{ v.domain }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
               <td class="text-nowrap">no data available.</td>
            </tr>
            {% endif %}
         </table>
         </p>
      </div>
   </div>
   {% endfor %}
</div>
{% endblock %}